{% extends 'pages/base.html' %}

{% block title %}Sign the Guestbook{% endblock %}

{% block content %}
    <h1>✍️ Sign the Guestbook</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>

    <p class="mt-20"><a href="{% url 'guestbook_list' %}">← Back to guestbook</a></p>
{% endblock %}